// Define the layout

// 01 - Global layout

body 
{
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: $font-copy;
  font-weight: $font-weight-base;
  font-size: $font-size-16;

  overflow:hidden;
  background-color: $color-background-dark;

  h1 { font-size: $font-size-h1; }
  h2 { font-size: $font-size-h2; }

  h1, h2 { font-weight: $font-weight-bold; letter-spacing: $font-spacing-title; }

  b { font-weight: $font-weight-bold;}
}

.pt-page 
{
	height:100%;
	width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.pt-page-current 
{
  visibility: visible;
  z-index: 1;
}

.pt-wrapper 
{
	position: absolute;
  width: 100%;
  height: 100%;
}

.InsideWrapper
{
	position: relative;
	display: block;
	width: 960px;
	height: 100%;
	overflow: hidden;
	margin: auto;
}