/*
* Eric BARBEAU
* Copyright 2015, Eric BARBEAU
* www.errric.me
* 20/09/2015
*/


/* Table of Content
==================================================
	
	#Reset & Basics
	#Set Styles
	#Global Layout

==================================================

	#Header
	#Home
	#Projects Page
	#Contact

==================================================	*/



		/* #Reset & Basics
================================================== */

@import 'reset';
@import 'variables';


		/* #Set Styles
================================================== */

	// 01 - Typography

$font-copy:    'Open Sans', sans-serif;

html
{
	font-size: 62.5%; 
	line-height: 62.5%;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	font-weight: 400;
}

h1, h2
{
	font-size: 7.0rem;
	font-weight: 800;
	letter-spacing: -0.02em;
}

b
{
	font-weight: 800;
}


	// 0 - Links


		/* #Global Layout
================================================== */

body 
{
	height: 100%;
    padding: 0;
    margin: 0;
  	font-family: $font-copy;
 	overflow:hidden;
 	background-color: $color-background-dark;
}

.pt-page 
{
	height:100%;
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.pt-page-current {
    visibility: visible;
    z-index: 1;
}

.pt-wrapper 
{
	position: absolute;
    width: 100%;
    height: 100%;
}

.InsideWrapper
{
	position: relative;
	display: block;
	width: 960px;
	height: 100%;
	overflow: hidden;
	margin: auto;
}

//Media Queries Variables 

$mobilePort: "(max-width: 545px)";
$mobileLand: "(max-width: 767px)";
$tablet: "(max-width: 1200px)";
$desktop: "(min-width: 1201px)";


		/* #Header
================================================== */

#TopBar
{
	position: fixed;
	top: 50px; left:50px; right:50px;
	z-index: 10;
	height: 60px;
	transition: transform 0.2s ease;
}

#TopBar
{
	.logo
	{
		display: block;
 		width: 60px;
 		height: 60px;
 		background: url(../img/logo.svg);
 		background-size: 60px 60px;
 		float: left;
	}
	.SubNav
	{
		font-size: 1.5rem;
		text-transform: uppercase;
		float: right;
	}
	.SubNav
	{
		li
		{
			display: inline-block;
		}
		li
		{
			a
			{
				display: block;
				color: $color-font-title-dark;
				text-decoration: none;
				line-height: 6.0rem;
				margin-left: 30px;
				transition: color 0.6s ease;
			}
		}
	}
}


		/* #Home
================================================== */

.pt-page-1 
{
    background-color: $color-background-light;
}

.introduction
{
	display: block;
	width: 100%;
	margin-top: 280px;
	padding-left: 50px;
	padding-right: 50px;
}

.introduction
{
	h1
	{
		color:$color-font-title-dark;
		margin-bottom: 20px;
	}

	p
	{
		color:$color-font-copy-dark;
		font-size:2.4rem;
		line-height: 4.0rem;
		display: block;
		position: relative;
	}

	ul
	{
		font-size: 2.4rem;
		line-height: 4.0rem;
		display: inline-block;
		position: absolute;
		top: 412px;
		left: 99px;
		width: 200px;
		height: 42px;
		overflow: hidden;
	}

	ul
	{
		li
		{
			font-weight: 600;
			display: block;
		}
		.comp_ui
		{
			color: $color-userinterface;
		}
		.comp_brand
		{
			color: $color-branding;
		}
		.comp_illu
		{
			color: $color-illustration;
		}
	}

	.pt-trigger
	{
		font-size: 1.6rem;
		text-transform: uppercase;
		background: none;
		font-weight: 600;
		color: $color-font-copy-dark;
		border: 2px solid $color-font-copy-dark;
		cursor: pointer;
		padding: 12px 32px 11px 12px;
		-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
		margin-top: 20px;
		background: url(../img/right-arrow-dark.svg) no-repeat;
    	background-size: 12px 9px;
    	position: relative;
    	background-position: 94% 50%;
    	transition: background-color 0.2s ease;
	}

	.pt-trigger:hover
	{
		color: $color-background-light;
		background: url(../img/right-arrow-light.svg) no-repeat;
		background-size: 12px 9px;
    	position: relative;
    	background-position: 94% 50%;
    	background-color: $color-font-copy-dark;
	}
}


// ToolTip

.tooltip 
{
	display: inline;
	position: relative;
	z-index: 999;
}

.tooltip-item 
{
	background-color: #ddd;
	padding: 4px 8px;
	-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
	font-size: 1.8rem;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 600;
	opacity: 0.7;
}

/* Tooltip */

.tooltip-content {
	position: absolute;
	z-index: 1000;
	width: 310px;
	left: 50%;
	margin: 0 0 20px -150px;
	bottom: 100%;
	background: $color-background-dark;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}


.tooltip-effect-4 .tooltip-content {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: scale3d(0.7,0.3,1);
	transform: scale3d(0.7,0.3,1);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.tooltip:hover .tooltip-content {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
	transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}



/* Arrow */

.tooltip-content::after {
	content: '';
	top: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #2a3035;
	border-width: 10px;
	margin-left: -10px;
}

/* Tooltip content*/

.tooltip-content img {
	position: relative;
	height: 170px;
	display: block;
	float: left;
	margin-right: 10px;
}

.tooltip-text {
	text-align: left;
	font-size: 1.6rem;
	line-height: 2.4rem;
	display: block;
	padding: 10px;
	color: #fff;
}

.tooltip-smallText
{
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #999;
}


		/* #Projects Page
================================================== */

.pt-page-2 
{
    background-color: $color-background-dark;
}

#SideBar
{
	display: block;
	width: 10%;
	height: 100%;
	background-color: $color-background-light;
	float: left;
}

#SideBar
{
	a
	{
		position: relative;
 		top: 50%;
  		transform: translateY(-50%);
		margin: auto;
		display: block;
		height: 50px;
		width: 50px;
		text-decoration: none;
		background: url(../img/back.svg) no-repeat;
		background-size: 50px 50px;
		opacity: 0.6;
		cursor: pointer;
	}
	a:hover
	{
		opacity: 1;
	}
}

#ProjectsWrapper
{
	display: block;
	width: 90%;
	height: 100%;
	overflow-y:scroll;
}

.projects
{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.projects
{
	.project-content
	{
		display: block;
		position: absolute;
		top:35%;
		left:8%;
		width: 50%; 
		z-index: 100;
	}
	.project-content
	{
		span
		{
			text-transform: uppercase;
			font-size:1.8rem;
			line-height: 3.2rem;
			opacity: 0.6;
			padding-left: 10px;
		}
		span
		{
			b
			{
				color: #fff;
			}
		}
		h2
		{
			margin-top: 30px;
			color: #fff;
		}
		p
		{
			margin-top: 20px;
			font-size:1.8rem;
			line-height: 2.2rem;
			font-weight: 200;
			color: $color-background-light;
			width: 80%;
		}
		a
		{
			text-decoration: none;
			font-weight: 600;
		}
		.button
		{
			display: inline-block;
			font-size: 1.4rem;
			margin-top: 30px;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			color: $color-background-light;
			padding: 12px;
			-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
	    	cursor: pointer;
	    	transition: background-color 0.2s ease;
		}
	}
	.project-visual
	{
		display: block;
		position: absolute;
		right: 0px; bottom: -800px;
    	height: 70%;
   		width: 50%;
   		z-index: 10;
   		opacity: 0.4;
	}
}



.projects-1
{
	background-color: $color-color3-project1;
}

.projects-1
{
	.project-visual
	{
		background: url(../img/phixl.png) no-repeat;
		background-position: top-left;
	}
	.project-content
	{
		
		span
		{
			border-left: 1px solid $color-color1-project1;
			color: $color-color1-project1;
		}
		.button
		{
			background-color: $color-color1-project1;
		}
		.button:hover
		{
			background-color: $color-color2-project1;
		}
		a
		{
			color: $color-color2-project1;
		}
	}
}

.projects-2
{
	background-color: $color-color3-project2;
}	

.projects-2
{
	.project-visual
	{
		background: url(../img/2degrees.png) no-repeat;
		background-position: top-left;
	}
	.project-content
	{
		span
		{
			border-left: 1px solid $color-color1-project2;
			color: $color-color1-project2;
		}
		.button
		{
			background-color: $color-color1-project2;
		}
		.button:hover
		{
			background-color: $color-color2-project2;
		}
		a
		{
			color: $color-color2-project2;
		}
	}
}

.projects-3
{
	background-color: $color-color3-project3;
}	

.projects-3
{
	.project-visual
	{
		background: url(../img/unitec.png) no-repeat;
		background-position: top-left;
	}
	.project-content
	{
		span
		{
			border-left: 1px solid $color-color1-project3;
			color: $color-color1-project3;
		}
		.button
		{
			background-color: $color-color1-project3;
		}
		.button:hover
		{
			background-color: $color-color2-project3;
		}
		a
		{
			color: $color-color2-project3;
		}
	}
}

.projects-4
{
	background-color: $color-color3-project4;
}	

.projects-4
{
	.project-visual
	{
		background: url(../img/btx.png) no-repeat;
		background-position: top-left;
	}
	.project-content
	{
		span
		{
			border-left: 1px solid $color-color1-project4;
			color: $color-color1-project4;
		}
		.button
		{
			background-color: $color-color1-project4;
		}
		.button:hover
		{
			background-color: $color-color2-project4;
		}
		a
		{
			color: $color-color2-project4;
		}
	}
}


		/* #Contact
================================================== */


#Contact
{
	position: fixed;
	top: -1200px; left: 20%; right: 20%;
	background-color: white;
	width: 60%;
	height: 60%;
	margin: auto;
	z-index: 200;
	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
}

#Contact
{
	.contact-top
	{
		display: block;
		position: relative;
		width: 100%;
		height: 35%;
		margin-bottom: 5px;
	}
	.contact-top
	{
		img
		{
			display: block;
			position: absolute;
			left:50%; bottom: 0px;
			margin-left: -75px;
			width: 150px;
			height: 150px;
			z-index: 10;
		}
		.coloredBg
		{
			display: block;
			position: relative;
			width: 100%;
			height: 75%;
			background-color: $color-userinterface;
			-webkit-border-top-left-radius: 2px;
			-webkit-border-top-right-radius: 2px;
			-moz-border-radius-topleft: 2px;
			-moz-border-radius-topright: 2px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
		.coloredBg
		{
			button
			{
				height: 25px;
				width: 25px;
				display: block;
				border: none;
				cursor: pointer;
				position: absolute;
				top: 10px; right: 10px;
				color: #fff;
				background: url(../img/close2.svg) no-repeat;
				background-size: 50%;
				background-position: center;
				border: 1px solid #fff;
				opacity: 0.8;
				-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
			}
			button:hover
			{
				opacity: 1;
			}
		}
	}
	.contact-content
	{
		color: $color-font-copy-dark;
		text-align: center;
		padding: 10px 30px 10px 30px;
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
	.contact-content
	{
		p
		{
			padding-bottom:15px;
			padding-top: 15px;
			border-top: 1px solid $color-background-separator;
		}
		p:first-child
		{
			color: $color-font-title-dark;
			font-size: 1.6rem;
			line-height: 2.4rem;
			border: none;
		}
		p
		{
			a
			{
				font-weight: 400;
				display: inline-block;
				padding: 5px;
				color: $color-userinterface;
				text-decoration: none;
			}
		}
		.contact-btn
		{
			display: inline-block;
			font-size: 1.2rem;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			color: #fff;
			padding: 8px 10px;
			-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
	    	transition: background-color 0.2s ease;
	    	margin-left: 10px;
	    	margin-right: 10px;
	    	margin-top: 30px;
		}
		.contact-btn-1
		{
			background-color: $color-branding;
		}
		.contact-btn-1:hover
		{
			background-color: $color-branding-hover;
		}
		.contact-btn-2
		{
			background-color: $color-illustration;
		}
		.contact-btn-2:hover
		{
			background-color: $color-illustration-hover;
		}
	}
}

.contactOverlay
{
	position: absolute;
	top: 0px; left: 0px;
	background-color: $color-background-dark;
	opacity: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	visibility: hidden;
} 



		/* Media Queries
================================================== */


/* Tablet */


    @media #{$tablet} 
    {
    	.introduction
    	{
    		margin-top: 210px;
    	}
    	.introduction
    	{
    		ul
    		{
    			top:342px;
    		}
    	}
    	.projects
		{
			.project-content
			{
				span
				{
					font-size:1.6rem;
					line-height: 3.0rem;
				}
				h2
				{
					margin-top: 24px;
				}
				p
				{
					margin-top: 18px;
					font-size:1.6rem;
					line-height: 2.0rem;
					width: 100%;
				}
				.button
				{
					margin-top: 24px;
				}
			}
			.project-visual
			{
		   		width: 40%;
			}
		}
		#Contact
		{
			position: fixed;
			top: -1200px; left: 8%; right: 8%;
			width: 84%;
			height: 65%;
		}
		#Contact
		{
			.contact-top
			{
				height: 30%;
			}
			.contact-top
			{
				img
				{
					margin-left: -60px;
					width: 120px;
					height: 120px;
				}
			}
			.contact-content
			{
				padding: 8px 16px 8px 16px;
			}
			.contact-content
			{
				p
				{
					padding-bottom:10px;
					padding-top: 10px;
				}
				.contact-btn
				{
					margin-top:15px;
				}
			}
		}
	}


	/* Mobile */


@media #{$mobileLand} 
    {
    	.introduction
    	{
    		margin-top: 180px;
    	}
    	.introduction
    	{
    		ul
    		{
    			top:312px;
    		}
    	}
    	#SideBar
    	{
    		width: 20%;
    	}
    	#ProjectsWrapper
    	{
    		width: 80%;
    	}
    	.projects
		{
			.project-content
			{
				width: 90%;
			}
			.project-content
			{
				span
				{
					font-size:1.4rem;
					line-height: 2.8rem;
				}
				h2
				{
					font-size: 5.2rem;
					margin-top: 20px;
				}
				.button
				{
					margin-top: 20px;
				}
			}
			.project-visual
			{
		   		visibility: hidden;
			}
		}
		#Contact
		{
			position: fixed;
			top: -1200px; left: 5%; right: 5%;
			width: 90%;
		}
		#Contact
		{
			.contact-top
			{
				height: 25%;
			}
			.contact-top
			{
				img
				{
					margin-left: -50px;
					width: 100px;
					height: 100px;
				}
			}
			.contact-content
			{
				padding: 6px 12px 6px 12px;
				font-size: 1.2rem;
				line-height: 1.8rem;
			}
			.contact-content
			{
				p
				{
					padding-bottom:8px;
					padding-top: 8px;
				}
				.contact-btn
				{
					margin-top:12px;
				}
			}
		}
	}
