// Import core
@use '../core/core_main' as core;

// Homepage stylesheet
.view_home {
	background-color: core.$clr-green--reg;
	position: absolute;
	left: 0px;
	top: 0px;

  	// Container
  	.container {
  		// Styling
  		padding: 0px;
  		width: 75vw;
			background-color: #fff;
			box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.05);
			border-radius: 40px 80px 0px 0px;
  	}

  	// Nav
  	.navbar {
  		padding-left:60px;
  		padding-right:60px;
  		border-bottom: 1px solid core.$clr-green--light;
  	}

  	// Home page
  	.home {

  		// Positioning
	  	display: flex;
	  	flex-direction: column;
	  	align-items: flex-start;
	  	width: 100%;
	  	height: 100%;
	  	background-color: #fff;

	  	&_intro, &_body {
	  		z-index: 100;
	  	}

	  	// Intro
	  	&_intro {
	  		display: flex;
	  		flex-direction: row;
	  		gap: 40px;
	  		padding: 14vh 80px 30px 160px;
	  		align-items: center;

	  		// Avatar
	  		.avatar_container {

	  			position: relative;
	  			height: 160px;
	  			width: 160px;
	  			cursor: pointer;

	  			// Real picture revealed on mouse-over
	  			&:after {
	  				content: '';
    				position: absolute;
    				inset: 0;
						background: url('/img/avatar_real.png') no-repeat center / cover;
						opacity: 0;
    				pointer-events: none;
    				transition: opacity 0.2s ease-in-out;
    				// Mask
	  				mask-image: radial-gradient(
				      circle 100px at var(--x) var(--y),
				      #000 0%,
				      #000 50%,
				      transparent 80%
				    );
	  			}

	  			&.is-hovered {

	  				cursor: url('/img/cursor-magic.png') 12 12, auto;

	  				&:after {
	  					opacity: 1;
	  				}
				  }

	  			&:not(.is-hovered)::after {
				    transition: none;
				  }

				  // Text for mouse-over
				  .avatar_cta {
				  	position: absolute;
				  	left: -5px;
				  	bottom: -5px;
				  	z-index: 100;
				  	display: flex;
				  	flex-direction: row;
				  	gap: 4px;
				  	align-items: center;
				  	background: radial-gradient(#fff 15%, #d9d9d9 80%, #ccd1cc 100%);
				  	background-position: center left;
						padding: 4px 0px 6px 8px;
						border-radius: 18px 4px 18px 14px;
						border: 2px solid #cdd2cd;
						box-shadow: 0px 0px 3px rgba(0, 0, 0,0.1);
						transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

				  	.wand {
							font-size: 24px;
				  	}
				  	.label {
							font-family: core.$font-fcode;
							font-weight: core.$f-weight-600;
							letter-spacing: core.$l-spacing-min-6;
							font-size: core.$font-size-12;
							white-space: nowrap;
							opacity: 0;
							transform: translateX(-6px);
							transform: translateY(1px);
							max-width: 0;
							overflow: hidden;

							transition:
								opacity 0.25s ease,
								transform 0.25s cubic-bezier(0.19, 1, 0.22, 1),
								max-width 0.25s ease;
				  	}

				  	&:hover {
				  		cursor: pointer;

				  		.label {
								opacity: 1;
								transform: translateX(0);
								transform: translateY(1px);
								max-width: 120px;
								padding-right: 10px;
								padding-top: 2px;
				  		}
				  	}
				  }

				  // Original pixel avatar
		  		.avatar {
		  			width: 160px;
    				height: 160px;
		  			display: block;
		  			border-radius: 85px;
		  		}
		  	}

	  		// Content
	  		.intro_content {
	  			display: flex;
	  			flex-direction: column;
	  			gap: 12px;
	  			color: core.$clr-grey--dark;

	  			// Main title
	  			&-main {
	  				letter-spacing: core.$l-spacing-min-6;
	  			}
	  			// Sub
	  			&-sub {
	  				display: flex;
	  				flex-direction: row;
	  				gap: 20px;
	  				align-items: center;

	  				// Blk
	  				.sub_blk {
	  					display: flex;
	  					flex-direction: row;
	  					gap: 10px;
	  					align-items: center;
	  					font-size: core.$font-size-32;

	  					// Text
	  					span:not(.since) {
	  						font-family: core.$font-fcode;
			  				letter-spacing: core.$l-spacing-min-6;
			  				font-weight: core.$f-weight-600;
	  					}
	  					.since {
	  						font-weight: core.$f-weight-200;
	  						font-style: italic;
	  					}
	  					// Visual
	  					.visual {
	  						display: block;
	  						width: 60px;
	  						height: 60px;
	  					}
	  				}
	  			}
	  		}
	  	}

	  	// Body
	  	&_body {

	  		display: flex;
	  		flex-direction: column;
	  		gap: 30px;
	  		padding: 30px 80px 80px 160px;
	  		// Width: Same as container - paddings
	  		width: calc( 75vw - 240px);

	  		// Blocks
	  		&-blk {

	  			&.home_body-blk01 {
	  				display: flex;
	  				flex-direction: column;
	  				gap: 12px;

	  				// Copy
	  				.body_copy {

	  					h3 {
	  						font-size: core.$font-size-22;
	  						color: core.$clr-grey--med;
	  						font-weight: core.$f-weight-300;
	  						letter-spacing: core.$l-spacing-plus-2;

	  						.highlight {
	  							font-weight: core.$f-weight-600;
	  							color: core.$clr-red--dark;
	  						}

	  						&:before {
	  							content: url("/img/graphics_chevron--grey.svg");
	  							margin-right: 12px;
	  							vertical-align: text-top;
	  						}
	  					}
	  				}
	  			}
	  			&.home_body-blk02 {
	  				display: flex;
	  				flex-direction: row;
	  				justify-content: space-between;
	  				align-items: center;

	  				.visual {
	  					display: block;
	  					height: 122px;
	  					width: auto;
	  				}

	  				.btn {
	  					z-index: 1000;
							position: absolute;
							right: calc( -156px / 2 );
							top: calc(50vh - ( 57px / 2 ));
	  				}
	  			}
	  		}

	  	}
	}
}