// Import core
@use '../core/core_main' as core;

// Homepage stylesheet
.view_home {
	background-color: core.$clr-green--reg;
	position: absolute;
	left: 0px;
	top: 0px;

  	// Container
  	.container {
  		// Styling
  		padding: 0px;
  		width: 80vw;
			background-color: core.$clr-cream--light;
			border-radius: 40px 80px 0px 0px;
			box-shadow: 2px 0px 10px rgba(0,0,0,0.05);
  	}

  	// Nav
  	.navbar {
  		padding-left:60px;
  		padding-right:60px;
  		border-bottom: 1px solid core.$clr-green--light;
  	}

  	// Home page
  	.home {

  		// Positioning
	  	display: flex;
	  	flex-direction: column;
	  	align-items: flex-start;
	  	width: 100%;
	  	height: 100%;
	  	background-color: #fff;

	  	&_intro, &_body {
	  		z-index: 100;
	  	}

	  	// Intro
	  	&_intro {
	  		display: flex;
	  		flex-direction: row;
	  		gap: 40px;
	  		padding: 14vh 80px 30px 160px;
	  		align-items: center;

	  		// Avatar
	  		.avatar_container {

	  			position: relative;
	  			height: 160px;
	  			width: 160px;
	  			cursor: inherit;

	  			// Real picture revealed on mouse-over
	  			&:after {
	  				content: '';
    				position: absolute;
    				inset: 0;
						background: url('/img/avatar_real.png') no-repeat center / cover;
						opacity: 0;
    				pointer-events: none;
    				transition: opacity 0.2s ease-in-out;
    				// Mask
	  				mask-image: radial-gradient(
				      circle 80px at var(--x) var(--y),
				      #000 0%,
				      #000 50%,
				      transparent 80%
				    );
	  			}

	  			&.is-hovered {
	  				cursor: url('/img/cursor-magic.png') 12 12, auto;

	  				&:after {
	  					opacity: 1;
	  				}
				  }

	  			&:not(.is-hovered)::after {
				    transition: none;
				  }

				  // Text for mouse-over
				  .avatar_cta {
						position: absolute;
						right: 0px;
						top: 10px;
						z-index: 100;
						background: radial-gradient(core.$clr-white 20%, core.$clr-cream 100%);
						padding: 8px 5px 9px 8px;
						border-radius: 20px;
						border: 2px solid;
						border-color: #5c594c; 
						cursor: pointer;
						transition: all 0.2s ease-in-out;
						scale: 1;

				  	.wand {
							font-size: core.$font-size-14;
				  	}

				  	&.is-loading {
				  		animation: load-wand 1s infinite;
				  	}

				  	&.wand_mode {
				  		border-color: core.$clr-green--reg;
				  		// background: radial-gradient(#D8FBEE 20%, #9DBDB1 100%); 
				  	}

				  	&:hover {
				  		cursor: pointer;
				  		background: radial-gradient(core.$clr-white 20%, core.$clr-white 100%);
				  	}
				  	&:active, &:focus {
				  		background: radial-gradient(core.$clr-white 20%, core.$clr-white 100%);
				  		scale: 0.9;
				  	}

				  	@keyframes load-wand {
				  		0% {
				  			border-color: core.$clr-green--reg; 
				  		}
				  		50% {
				  			border-color: #5c594c; 
				  		}
				  		100% {
				  			border-color: core.$clr-green--reg; 
				  		}
				  	}
				  }

				  // Original pixel avatar
		  		.avatar {
		  			width: 160px;
    				height: 160px;
		  			display: block;
		  			border-radius: 85px;
		  		}
		  	}

	  		// Content
	  		.intro_content {
	  			display: flex;
	  			flex-direction: column;
	  			gap: 12px;
	  			color: core.$clr-grey--dark;

	  			// Main title
	  			&-main {
	  				letter-spacing: core.$l-spacing-min-6;
	  			}
	  			// Sub
	  			&-sub {
	  				display: flex;
	  				flex-direction: row;
	  				gap: 20px;
	  				align-items: center;

	  				// Blk
	  				.sub_blk {
	  					display: flex;
	  					flex-direction: row;
	  					gap: 10px;
	  					align-items: center;
	  					font-size: core.$font-size-32;

	  					// Text
	  					span:not(.since) {
	  						font-family: core.$font-fcode;
			  				letter-spacing: core.$l-spacing-min-6;
			  				font-weight: core.$f-weight-600;
	  					}
	  					.since {
	  						font-weight: core.$f-weight-200;
	  						font-style: italic;
	  					}
	  					// Visual
	  					.visual {
	  						display: block;
	  						width: 60px;
	  						height: 60px;
	  					}
	  				}
	  			}
	  		}
	  	}

	  	// Body
	  	&_body {

	  		display: flex;
	  		flex-direction: column;
	  		gap: 30px;
	  		padding: 30px 80px 80px 160px;
	  		// Width: Same as container - paddings
	  		width: calc( 80vw - 240px);

	  		// Blocks
	  		&-blk {

	  			&.home_body-blk01 {
	  				display: flex;
	  				flex-direction: column;
	  				gap: 12px;

	  				// Copy
	  				.body_copy {

	  					h3 {
	  						font-size: core.$font-size-22;
	  						color: core.$clr-grey--med;
	  						font-weight: core.$f-weight-300;
	  						letter-spacing: core.$l-spacing-plus-2;

	  						.highlight {
	  							font-weight: core.$f-weight-600;
	  							color: core.$clr-red--reg;
	  						}

	  						&:before {
	  							content: url("/img/graphics_chevron--grey.svg");
	  							margin-right: 12px;
	  							vertical-align: text-top;
	  						}
	  					}
	  				}
	  			}
	  			&.home_body-blk02 {
	  				display: flex;
	  				flex-direction: row;
	  				justify-content: space-between;
	  				align-items: center;

	  				.visual {
	  					display: block;
	  					height: 122px;
	  					width: auto;
	  				}

	  				.projects_cta {
	  					z-index: 1000;
							position: absolute;
							right: calc( -150px / 2 );
							top: calc(50vh - ( 112px / 2 ));
							background-color: core.$clr-green--reg;
							padding: 4px;
							border-radius: 24px;
							transform: translateX(0px);

							// Animation related
							transition: all 0.2s ease-in-out;

							.blk {
								display: flex;
								flex-direction: row;
								gap: 12px;
								align-items: center;
								background-color: core.$clr-white;
								padding: 14px;
								border-radius: 20px;
								box-shadow: 2px 0px 10px rgba(0,0,0,0.2);

								// Projects grid
								.icons {
									display: grid;
									grid-template-columns: 34px 34px; 
									grid-template-rows: auto auto; 
									gap: 8px;
									width: 100%;
									scale: 1;
									transition: scale 0.4s ease-in-out;

									.icon {
										display: block;
										height: 34px;
										width: 34px;
										border-radius: 8px;
										transition: background 1s ease-in-out;

										&_1 {
											background: url("/img/Projects/visadocs/visadocs_icon--small.png") no-repeat;
											background-size: 100% 100%;
										}
										&_2 {
											background: url("/img/Projects/jmr-visas/jmr_icon--small.png") no-repeat;
											background-size: 100% 100%;
										}
										&_3 {
											background: url("/img/Projects/phl-chat/phl-chat_icon--small.png") no-repeat;
											background-size: 100% 100%;
										}
										&_4 {
											background: url("/img/Projects/phl-reactions/phl-reactions_icon--small.png") no-repeat;
											background-size: 100% 100%;
										}
									}
								}

								// CTA
								.cta {
									position: relative;
									padding: 8px 10px 7px 10.5px;
									background-color: core.$clr-green--light;
									border-radius: 20px;
									opacity: 0.75;
									max-width: 26.5px;
									max-height: 26.5px;
									cursor: pointer;
									width: auto;
									scale: 1;
      						transition: all 0.2s ease-in-out;

									&:hover {
										opacity: 1;
									}
								}
							}


							// When the CTA is animated
							&.is-animated {

								transform: translateX(-16px);

								@keyframes rotate {
						  		0% {
						  			transform: rotate(0deg);
						  		}
						  		50% {
						  			transform: rotate(180deg);
						  		}
						  		100% {
						  			transform: rotate(360deg);
						  		}
						  	}

								.icons {

									scale: 0.35;
									animation: rotate 1.2s ease-in-out infinite;

									.icon {

										border-radius: 12px;
										
										&_1 {
											background: #2D78EF;
										}
										&_2 {
											background: #EB8287;
										}
										&_3 {
											background: #F39124;
										}
										&_4 {
											background: #FFB23B;
										}
									}
								}

								.cta {
									width: 0;
									scale: 0;
									padding-left: 0;
									padding-right: 0;
									opacity: 0;

									&.hidden {
						        display: none;
						      }
								}
							}
	  				}
	  			}
	  		}

	  	}
	}
}