// Import core
@use '../core/core_main' as core;

// Homepage stylesheet
.view_projects {
	background-color: core.$clr-white;
	position: absolute;
	right: 0px;
	top: 0px;

	.container {
		width: 100vw;
		padding: 0px;
		background: url('/img/graphics_projects--top.svg') no-repeat;
		background-position-x: 0px;
		background-position-y: 0px;
		background-size: auto 100%;

		&:after {
			content: '';
			background: url('/img/graphics_projects--redblob.svg') no-repeat;
			background-size: 100% 100%;
			width: 54px;
			height: 333px;
			display: block;
			position: absolute;
			right: 0px;
			top: 500px;
		}
	}

	// Nav
  	.navbar {
  		padding-left:60px;
  		padding-right:60px;
  		justify-content: space-between;
  	}

  	// Page content
  	.projects {

  		// Positioning
	  	display: flex;
	  	flex-direction: column;
	  	align-items: flex-start;
	  	width: 100%;
	  	height: 100%;

  		// 01 Intro
  		&_intro {
  			margin-top: 8vh;
  			display: flex;
  			flex-direction: column;
  			gap: 24px;
				position: relative;
				margin-left: auto;
				right: 12vw;
				width: 60vw;

				// Intro text
  			.intro_content {

  				&-main {
	  				letter-spacing: core.$l-spacing-min-6;

	  				span {
	  					font-size: 5.0rem;
	  					margin-right: 16px;
	  				}
	  			}
	  			&-sub {
	  				// Defined in global css file "shared_elements" under typography
	  				font-weight: core.$f-weight-200;
	  			}
  			}

  			// Intro projects grid
  			.intro_grid {
				display: grid;
				width: 85%;
				grid-template-columns: 50% 50%; 
				grid-template-rows: auto auto;
				gap: 12px;

				.project {
					// Defined in global css file "shared_elements" under blocks.
				}

				// Individual styling
				.project {
					// 01
					&-01 {

						&.is-active {
							box-shadow: 0px 0px 8px core.$clr-visadocs--02;
							border-color: core.$clr-visadocs--02;
						}
						.project_visual {
							background: url('/img/Projects/visadocs/visadocs_icon--medium.png') no-repeat;
							background-size: 100% 100%;
						}
					}
					// 02
					&-02 {

						&.is-active {
							box-shadow: 0px 0px 8px core.$clr-jmr--02;
							border-color: core.$clr-jmr--02;
						}
						.project_visual {
							background: url('/img/Projects/jmr-visas/jmr_icon--medium.png') no-repeat;
							background-size: 100% 100%;
						}
					}
					// 03
					&-03 {

						&.is-active {
							box-shadow: 0px 0px 8px core.$clr-phl-chat--02;
							border-color: core.$clr-phl-chat--02;
						}
						.project_visual {
							background: url('/img/Projects/phl-chat/phl-chat_icon--medium.png') no-repeat;
							background-size: 100% 100%;
						}
					}
					// 04
					&-04 {

						&.is-active {
							box-shadow: 0px 0px 8px core.$clr-phl-react--02;
							border-color: core.$clr-phl-react--02;
						}
						.project_visual {
							background: url('/img/Projects/phl-reactions/phl-reactions_icon--medium.png') no-repeat;
							background-size: 100% 100%;
						}
					}
				}
  			}
  		}
  		// 02 Project body
  		&_body {
  			display: flex;
  			flex-direction: column;
  			position: relative;
  			margin-top: 200px;
  			padding: 20px 16vw;
  			max-width: calc(100% - 32vw);

  			.project_renderer {

					@keyframes projectDrop {
					  to {
					    opacity: 1;
					    transform: translateY(0);
					  }
					}

					// GLOBAL STYLING
  				.project {
						opacity: 0;
						transform: translateY(-12px);
						animation: projectDrop 0.4s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
						display: flex;
						flex-direction: column;
						gap: 40px;

						// 01 - Title
						&-title {
							
							.line {
								// Defined in global css file "shared_elements" under visuals.
							}

							.title-container {

								.project-name {
									display: flex;
									flex-direction: row;
									gap: 8px;
									align-items: center;
									margin-bottom: 12px;
								}
								.body.typ-title-main {
									font-weight: core.$f-weight-400;
								}
							}
						}

						// 02 - Intro
						&-intro {
							display: grid;
							grid-template-columns: 7fr 3fr;
							gap: 20px;

							.intro-text {
								// Defined in global css file "shared_elements" under blocks.
							}
							.project-specs {
								display: flex;
								flex-direction: column;
								gap: 12px;
								padding: 32px 40px 20px 20px;
								background-color: core.$clr-green--lightest;
								border: 1px solid core.$clr-green--border;
								border-radius: 8px;

								.specs {
									display: flex;
									flex-direction: row;
									gap: 12px;
									font-size: core.$font-size-14;
									color: core.$clr-grey--dark;
									font-weight: core.$f-weight-300;
									line-height: core.$line-height-140;
									align-items: baseline;

									&-type {
										padding-left: 7px;
									}
									&-role {
										padding-left: 6px;
									}
									&-stack {
										padding-left: 2px;
									}
								}
							}
						}

						// 03 - Hero
						&-hero {

							img {
								width: 100%;
								height: auto;
							}
						}

						// 04 - Content Blks
						.blk {

							// 04-1 - Objectives
							&_objective {

								display: flex;
								flex-direction: column;
								gap: 16px;

								.title-container .title {
									margin-bottom: 12px;
								}
							}
						}

  				}

  				// INDIVIDUAL STYLING

  					// Project 01
	  				.project-01 {
	  					a, .link {
	  						color: core.$clr-visadocs--01;
	  					}
	  					.line {
	  						background-color: core.$clr-visadocs--02;
	  					}

	  					// Features blocks
	  					.features {

	  						display: flex;
	  						flex-direction: row;
	  						flex-wrap: wrap;
	  						gap: 20px;
	  						margin-top: 12px;

	  						.visual {
	  							height: 30px;
	  							width: 30px;
	  							background-size: 100% 100%;
	  						}

	  						.feature_blk {
	  							padding: 20px 12px;
	  							border-radius: 8px;
	  							display: flex;
	  							flex-direction: column;
	  							gap: 12px;
	  							justify-content: center;
	  							align-items: center;
	  							background-color: core.$clr-green--lightest;
	  							border: 1px solid core.$clr-green--border;
	  							text-align: center;

	  							.body {

	  								display: flex;
	  								flex-direction: column;
	  								gap: 6px;
	  								text-align: center;
	  								color: core.$clr-grey--dark;
	  								max-width: 120px;

	  								.title {
	  									font-size: core.$font-size-16;
	  									font-weight: core.$f-weight-500;
	  								}
	  								.content {
	  									font-size: core.$font-size-12;
	  									font-weight: core.$f-weight-300;
	  								}
	  							}

	  							// Visual for each block
	  							&-one .visual {
	  								background: url('/img/Projects/visadocs/features/feature1.svg') no-repeat;
	  							}
	  							&-two .visual {
	  								background: url('/img/Projects/visadocs/features/feature2.svg') no-repeat;
	  							}
	  							&-three .visual {
	  								background: url('/img/Projects/visadocs/features/feature3.svg') no-repeat;
	  							}
	  							&-four .visual {
	  								background: url('/img/Projects/visadocs/features/feature4.svg') no-repeat;
	  							}
	  							&-five .visual {
	  								background: url('/img/Projects/visadocs/features/feature5.svg') no-repeat;
	  							}
	  							&-six .visual {
	  								background: url('/img/Projects/visadocs/features/feature6.svg') no-repeat;
	  							}
	  						}
	  					}
	  				}

	  				// Project 02
	  				.project-02 {
	  					a, .link {
	  						color: core.$clr-jmr--01;
	  					}
	  					.line {
	  						background-color: core.$clr-jmr--02;
	  					}
	  				}

	  				// Project 03
	  				.project-03 {
	  					a, .link {
	  						color: core.$clr-phl-chat--01;
	  					}
	  					.line {
	  						background-color: core.$clr-phl-chat--02;
	  					}
	  				}

	  				// Project 04
	  				.project-04 {
	  					a, .link {
	  						color: core.$clr-phl-react--01;
	  					}
	  					.line {
	  						background-color: core.$clr-phl-react--02;
	  					}
	  				}

  			}
  		}
  	}
}