// Import core
@use '../core/core_main' as core;

// Homepage stylesheet
.view_projects {
	background-color: core.$clr-white;
	position: absolute;
	right: 0px;
	top: 0px;

	.container {
		width: 100vw;
		padding: 0px;
		background: url('/img/graphics_projects--top.svg') no-repeat;
		background-position-x: 0px;
		background-position-y: 0px;
		background-size: auto 100%;
	}

	// Nav
  	.navbar {
  		padding-left:60px;
  		padding-right:60px;
  		justify-content: space-between;
  	}

  	// Page content
  	.projects {

  		// Positioning
	  	display: flex;
	  	flex-direction: column;
	  	align-items: flex-start;
	  	width: 100%;
	  	height: 100%;

  		// 01 Intro
  		&_intro {
  			margin-top: 80px;
  			display: flex;
  			flex-direction: column;
  			gap: 24px;
			position: absolute;
			right: 10vw;
			width: 60vw;

			// Intro text
  			.intro_content {

  				&-main {
	  				letter-spacing: core.$l-spacing-min-6;
	  			}
	  			&-sub {
	  				font-size: core.$font-size-32;
	  				font-weight: core.$f-weight-200;
	  				line-height: core.$line-height-140;

	  				b {
	  					font-weight: core.$f-weight-500;
	  				}
	  			}
  			}

  			// Intro projects grid
  			.intro_grid {
				display: grid;
				width: 85%;
				grid-template-columns: 50% 50%; 
				grid-template-rows: auto auto;
				gap: 12px;

				.project {
					display: flex;
					flex-direction: row;
					gap: 12px;
					align-items: center;
					padding: 10px 20px 9px 14px;
					border-radius: 8px;
					border: 1px solid core.$clr-green--border-light;
					cursor: pointer;
					transform: translatey(2px);
					transition: all 0.2s ease-in-out;

					&:hover {
						background-color: rgba(0,0,0,0.02);
						transform: translatey(0px);
					}

					// Visual
					&_visual {
						display: block;
						height: 62px;
						width: 62px;
					}

					// Content
					&_content {

						display: flex;
						flex-direction: column;
						gap: 2px;
						width: 80%;

						// Title
						.title {
							display: flex;
							flex-direction: row;
							gap: 6px;
							font-family: core.$font-fcode;
							color: core.$clr-grey--dark;
							align-items: center;
							font-size: core.$font-size-16;
							font-weight: core.$f-weight-600;
							letter-spacing: core.$l-spacing-min-4;

							span.date {
								font-size: core.$font-size-10 !important;
								font-weight: core.$f-weight-400;
								padding: 3px 5px 2px 4px;
								border-radius: 10px;
								background-color: #EFEEED;
								border: 1px solid #D7D6D5;
								letter-spacing: core.$l-spacing-min-2;
							}
						}
						// Body
						.body {
							font-size: core.$font-size-13;
							color: core.$clr-grey--med;
							font-weight: core.$f-weight-300;
							letter-spacing: core.$l-spacing-plus-2;
							line-height: core.$line-height-120;
						}
					}

					// CTA
					&_cta {

					}
				}

				// Individual styling
				.project {

					// 01
					&-01 {
						.project_visual {
							background: url('/img/Projects/visadocs/visadocs_icon--medium.png') no-repeat;
							background-size: 100% 100%;
						}
					}
					// 02
					&-02 {
						.project_visual {
							background: url('/img/Projects/jmr-visas/jmr_icon--medium.png') no-repeat;
							background-size: 100% 100%;
						}
					}
					// 03
					&-03 {
						.project_visual {
							background: url('/img/Projects/phl-chat/phl-chat_icon--medium.png') no-repeat;
							background-size: 100% 100%;
						}
					}
					// 04
					&-04 {
						.project_visual {
							background: url('/img/Projects/phl-reactions/phl-reactions_icon--medium.png') no-repeat;
							background-size: 100% 100%;
						}
					}
				}
  			}
  		}
  		// 02 Project showcase
  	}
}