// Import core
@use '../core/core_main' as core;

// Global for all views
.view {
	position: absolute;
	left:0px; right: 0px; top: 0px; bottom: 0px;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

// Container
.container {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}