//  =========================================
//    
//    Mixins that will build the grid
//  
//  =========================================


// 01 - Block Grid

@mixin b-grid($number-lg, $number-md, $number-sm, $number-xs) {

  padding: 0;
  margin: 0;
  float: left;
  box-sizing: border-box;

  @media (min-width: $screen-lg-desktop )  // More than 1200px
  {
    @if $number-lg == 0 { width:0; display:none; }
    @if $number-lg == 1 { width: 8.33333333%; }
    @if $number-lg == 2 { width: 16.66666667%; }
    @if $number-lg == 3 { width: 25%; }
    @if $number-lg == 4 { width: 33.33333333%; }
    @if $number-lg == 5 { width: 41.66666667%; }
    @if $number-lg == 6 { width: 50%; }
    @if $number-lg == 7 { width: 58.33333333%; }
    @if $number-lg == 8 { width: 66.66666667%; }
    @if $number-lg == 9 { width: 75%; }
    @if $number-lg == 10 { width: 83.33333333%; }
    @if $number-lg == 11 { width: 91.66666667%; }
    @if $number-lg == 12 { width: 100%; }
  }  

  @media (min-width: $screen-desktop) and (max-width: $screen-md-max) // 992px to 1199px
  {
    @if $number-md == 0 { width:0; display:none; }
    @if $number-md == 1 { width: 8.33333333%; }
    @if $number-md == 2 { width: 16.66666667%; }
    @if $number-md == 3 { width: 25%; }
    @if $number-md == 4 { width: 33.33333333%; }
    @if $number-md == 5 { width: 41.66666667%; }
    @if $number-md == 6 { width: 50%; }
    @if $number-md == 7 { width: 58.33333333%; }
    @if $number-md == 8 { width: 66.66666667%; }
    @if $number-md == 9 { width: 75%; }
    @if $number-md == 10 { width: 83.33333333%; }
    @if $number-md == 11 { width: 91.66666667%; }
    @if $number-md == 12 { width: 100%; }
  }

  @media (min-width: $screen-phone) and (max-width: $screen-sm-max) // 480px to 991px
  {
    @if $number-sm == 0 { width:0; display:none; }
    @if $number-sm == 1 { width: 8.33333333%; }
    @if $number-sm == 2 { width: 16.66666667%; }
    @if $number-sm == 3 { width: 25%; }
    @if $number-sm == 4 { width: 33.33333333%; }
    @if $number-sm == 5 { width: 41.66666667%; }
    @if $number-sm == 6 { width: 50%; }
    @if $number-sm == 7 { width: 58.33333333%; }
    @if $number-sm == 8 { width: 66.66666667%; }
    @if $number-sm == 9 { width: 75%; }
    @if $number-sm == 10 { width: 83.33333333%; }
    @if $number-sm == 11 { width: 91.66666667%; }
    @if $number-sm == 12 { width: 100%; }
  }

  @media (max-width: $screen-xxs-max) // Less than 479px
  {
    @if $number-xs == 0 { width:0; display:none; }
    @if $number-xs == 1 { width: 8.33333333%; }
    @if $number-xs == 2 { width: 16.66666667%; }
    @if $number-xs == 3 { width: 25%; }
    @if $number-xs == 4 { width: 33.33333333%; }
    @if $number-xs == 5 { width: 41.66666667%; }
    @if $number-xs == 6 { width: 50%; }
    @if $number-xs == 7 { width: 58.33333333%; }
    @if $number-xs == 8 { width: 66.66666667%; }
    @if $number-xs == 9 { width: 75%; }
    @if $number-xs == 10 { width: 83.33333333%; }
    @if $number-xs == 11 { width: 91.66666667%; }
    @if $number-xs == 12 { width: 100%; }
  }
}  

// 02 - Element Grid

@mixin e-grid($number-lg, $number-md, $number-sm, $number-xs) {

  padding: 0 $gap-15;
  margin: 0;
  float: left;
  box-sizing: border-box;
  

  @media (min-width: $screen-lg-desktop )  // More than 1200px
  {
    @if $number-lg == 0 { width:0; display:none; }
    @if $number-lg == 1 { width: 8.33333333%; }
    @if $number-lg == 2 { width: 16.66666667%; }
    @if $number-lg == 3 { width: 25%; }
    @if $number-lg == 4 { width: 33.33333333%; }
    @if $number-lg == 5 { width: 41.66666667%; }
    @if $number-lg == 6 { width: 50%; }
    @if $number-lg == 7 { width: 58.33333333%; }
    @if $number-lg == 8 { width: 66.66666667%; }
    @if $number-lg == 9 { width: 75%; }
    @if $number-lg == 10 { width: 83.33333333%; }
    @if $number-lg == 11 { width: 91.66666667%; }
    @if $number-lg == 12 { width: 100%; }
  }

  @media (min-width: $screen-desktop) and (max-width: $screen-md-max) // 992px to 1199px
  {
    @if $number-md == 0 { width:0; display:none; }
    @if $number-md == 1 { width: 8.33333333%; }
    @if $number-md == 2 { width: 16.66666667%; }
    @if $number-md == 3 { width: 25%; }
    @if $number-md == 4 { width: 33.33333333%; }
    @if $number-md == 5 { width: 41.66666667%; }
    @if $number-md == 6 { width: 50%; }
    @if $number-md == 7 { width: 58.33333333%; }
    @if $number-md == 8 { width: 66.66666667%; }
    @if $number-md == 9 { width: 75%; }
    @if $number-md == 10 { width: 83.33333333%; }
    @if $number-md == 11 { width: 91.66666667%; }
    @if $number-md == 12 { width: 100%; }
  }

  @media (min-width: $screen-phone) and (max-width: $screen-sm-max) // 480px to 991px
  {
    @if $number-sm == 0 { width:0; display:none; }
    @if $number-sm == 1 { width: 8.33333333%; }
    @if $number-sm == 2 { width: 16.66666667%; }
    @if $number-sm == 3 { width: 25%; }
    @if $number-sm == 4 { width: 33.33333333%; }
    @if $number-sm == 5 { width: 41.66666667%; }
    @if $number-sm == 6 { width: 50%; }
    @if $number-sm == 7 { width: 58.33333333%; }
    @if $number-sm == 8 { width: 66.66666667%; }
    @if $number-sm == 9 { width: 75%; }
    @if $number-sm == 10 { width: 83.33333333%; }
    @if $number-sm == 11 { width: 91.66666667%; }
    @if $number-sm == 12 { width: 100%; }
  }
  
  @media (max-width: $screen-xxs-max) // Less than 479px
  {
    @if $number-xs == 0 { width:0; display:none; }
    @if $number-xs == 1 { width: 8.33333333%; }
    @if $number-xs == 2 { width: 16.66666667%; }
    @if $number-xs == 3 { width: 25%; }
    @if $number-xs == 4 { width: 33.33333333%; }
    @if $number-xs == 5 { width: 41.66666667%; }
    @if $number-xs == 6 { width: 50%; }
    @if $number-xs == 7 { width: 58.33333333%; }
    @if $number-xs == 8 { width: 66.66666667%; }
    @if $number-xs == 9 { width: 75%; }
    @if $number-xs == 10 { width: 83.33333333%; }
    @if $number-xs == 11 { width: 91.66666667%; }
    @if $number-xs == 12 { width: 100%; }
  }
}

// 03 - Offset

@mixin set-offset($offset-lg, $offset-md, $offset-sm, $offset-xs) {

  @if $offset-lg == 0 { margin-left: 0; }
  @if $offset-md == 0 { margin-left: 0; }
  @if $offset-sm == 0 { margin-left: 0; }
  @if $offset-xs == 0 { margin-left: 0; }

  @media (min-width: $screen-lg-desktop )  // More than 1200px
  {
    @if $offset-lg == 1 { margin-left: 8.33333333%; }
    @if $offset-lg == 2 { margin-left: 16.66666667%; }
    @if $offset-lg == 3 { margin-left: 25%; }
    @if $offset-lg == 4 { margin-left: 33.33333333%; }
    @if $offset-lg == 5 { margin-left: 41.66666667%; }
    @if $offset-lg == 6 { margin-left: 50%; }
    @if $offset-lg == 7 { margin-left: 58.33333333%; }
    @if $offset-lg == 8 { margin-left: 66.66666667%; }
    @if $offset-lg == 9 { margin-left: 75%; }
    @if $offset-lg == 10 { margin-left: 83.33333333%; }
    @if $offset-lg == 11 { margin-left: 91.66666667%; }
    @if $offset-lg == 12 { margin-left: 100%; }
  }

  @media (min-width: $screen-desktop) and (max-width: $screen-md-max) // 992px to 1199px
  {
    @if $offset-md == 1 { margin-left: 8.33333333%; }
    @if $offset-md == 2 { margin-left: 16.66666667%; }
    @if $offset-md == 3 { margin-left: 25%; }
    @if $offset-md == 4 { margin-left: 33.33333333%; }
    @if $offset-md == 5 { margin-left: 41.66666667%; }
    @if $offset-md == 6 { margin-left: 50%; }
    @if $offset-md == 7 { margin-left: 58.33333333%; }
    @if $offset-md == 8 { margin-left: 66.66666667%; }
    @if $offset-md == 9 { margin-left: 75%; }
    @if $offset-md == 10 { margin-left: 83.33333333%; }
    @if $offset-md == 11 { margin-left: 91.66666667%; }
    @if $offset-md == 12 { margin-left: 100%; }
  }

  @media (min-width: $screen-phone) and (max-width: $screen-sm-max) // 480px to 991px
  {
    @if $offset-sm == 1 { margin-left: 8.33333333%; }
    @if $offset-sm == 2 { margin-left: 16.66666667%; }
    @if $offset-sm == 3 { margin-left: 25%; }
    @if $offset-sm == 4 { margin-left: 33.33333333%; }
    @if $offset-sm == 5 { margin-left: 41.66666667%; }
    @if $offset-sm == 6 { margin-left: 50%; }
    @if $offset-sm == 7 { margin-left: 58.33333333%; }
    @if $offset-sm == 8 { margin-left: 66.66666667%; }
    @if $offset-sm == 9 { margin-left: 75%; }
    @if $offset-sm == 10 { margin-left: 83.33333333%; }
    @if $offset-sm == 11 { margin-left: 91.66666667%; }
    @if $offset-sm == 12 { margin-left: 100%; }
  }

  @media (max-width: $screen-xxs-max) // Less than 479px
  {
    @if $offset-xs == 1 { margin-left: 8.33333333%; }
    @if $offset-xs == 2 { margin-left: 16.66666667%; }
    @if $offset-xs == 3 { margin-left: 25%; }
    @if $offset-xs == 4 { margin-left: 33.33333333%; }
    @if $offset-xs == 5 { margin-left: 41.66666667%; }
    @if $offset-xs == 6 { margin-left: 50%; }
    @if $offset-xs == 7 { margin-left: 58.33333333%; }
    @if $offset-xs == 8 { margin-left: 66.66666667%; }
    @if $offset-xs == 9 { margin-left: 75%; }
    @if $offset-xs == 10 { margin-left: 83.33333333%; }
    @if $offset-xs == 11 { margin-left: 91.66666667%; }
    @if $offset-xs == 12 { margin-left: 100%; }
  }
}
