
// Background noise
.noise-bg {
	pointer-events: none;
	opacity: 0.2; // control the noise opacity
	filter: grayscale(100%); // convert to grayscale colors
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		filter: url(#noise-bg-fx);
	}
}