// Variables used for the website

// 01 - Colours

	// White / Cream
	$clr-white:				#FFFFFF;
	$clr-cream--light:		#FDFDFC;
	$clr-cream:				#F3F3F3;

	// Grey
	$clr-grey--dark:		#222327;
	$clr-grey--med:			#6B6B6B;
	$clr-grey--border:		#A8B3BE;

	// Green
	$clr-green--dark:			#608175;
	$clr-green--reg:			#A2D1C0;
	$clr-green--border:			#B4BFBF;
	$clr-green--border-light:	#CBDBD6;

	$clr-green--lightest:	#F1F3F3;
	$clr-green--light:		#E1EBE8;

	// Red
	$clr-red--dark:			#B96B55;
	$clr-red--reg:			#B96B55;
	$clr-red--border:		#D5B6AD;
	$clr-red--lightest:		#FAF5F3;

// 02 - Typography

	// Fonts
	$font-fcode:		"Fira Code", monospace;
	$font-fsans:		"Fira Sans", sans-serif;

	// Size

	$font-size-10:      	1.0rem;
	$font-size-12:      	1.2rem;
	$font-size-13:      	1.3rem;
  	$font-size-14:      	1.4rem;
	$font-size-16: 			1.6rem;
	$font-size-18:			1.8rem;
	$font-size-20:			2.0rem;
	$font-size-22:			2.2rem;
	$font-size-24:			2.4rem;
	$font-size-26:			2.6rem;
	$font-size-28:			2.8rem;
	$font-size-30:			3.0rem;
	$font-size-32:			3.2rem;

	$font-size-h1:			5.2rem;

	// Weight
	$f-weight-100:			100;
	$f-weight-200:			200;
	$f-weight-300:			300;
	$f-weight-400:			400;
	$f-weight-500:			500;
	$f-weight-600:			600;
	$f-weight-700:			700;
	$f-weight-800:			800;

	// Letter Spacing
	$l-spacing-min-1:		-1%;
	$l-spacing-min-2:		-2%;
	$l-spacing-min-3:		-3%;
	$l-spacing-min-4:		-4%;
	$l-spacing-min-5:		-5%;
	$l-spacing-min-6:		-6%;
	$l-spacing-min-7:		-7%;
	$l-spacing-min-8:		-8%;
	$l-spacing-min-9:		-9%;
	$l-spacing-min-10:		-10%;
	$l-spacing-plus-1:		1%;
	$l-spacing-plus-2:		2%;

	// Line Height

	$line-height-100:		100%;
	$line-height-120:		120%;
	$line-height-140:		140%;
	$line-height-160:		160%;
	$line-height-180:		180%;	

	// Actual styling
	html {
		font-family: $font-fsans;
		background-color: $clr-green--reg;
		b {
			font-weight: 600;
		}
	}
	h1, .link, button, button.btn {
		font-family: $font-fcode;
	}

	h1 {
		font-size: $font-size-h1;
		font-weight: $f-weight-600;
	}

