// Import core
@use '../core/core_main' as core;

// 01 - Global
.btn {

}

// 02 - Links
.link {

}

// 03 - Navbar
.navbar_menu .navbar_menu-item {

	position: relative;
	width: auto;
	height: auto;

	// Button
	.link {
		text-transform: uppercase;
		font-size: core.$font-size-13;
		font-weight: core.$f-weight-500;

		padding: 8px 12px 7px 12px;
		border: 1px solid;
		border-radius: 4px;

		// Animate / Hover
		transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;

		&:not(.link_download) {
			border-color: core.$clr-grey--border;
			color: core.$clr-grey--dark;
			background-color: core.$clr-white;

			&:hover {
				border-color: core.$clr-red--border;
				color: core.$clr-red--dark;
				background-color: core.$clr-red--lightest;
			}
		}
		&.link_download {
			border-color: core.$clr-green--border;
			color: core.$clr-green--dark;
			background-color: core.$clr-green--lightest;

			&:hover {
				background-color: core.$clr-green--light;
			}
		}

	}

}