// Import core
@use '../core/core_main' as core;

// 01 - Navbar
.navbar {
	position: relative;
	top: 0px; left: 0px; right: 0px;
	background: transparent;
	align-items: center;
	padding: 40px 0px;
	z-index: 1000;

	// Logo
	.logo, .logo img {
		height: 52px;
		width: 52px;
	}

	// Menu
	&_menu {
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;

		// Item

		// Sep
		&-sep {
			font-size: core.$font-size-14;
			color: rgba(0,0,0,0.25);
		}
	}
}

// 02 - Footer