// Styles for Home Page

.pt-page-1 {
    background-color: $color-background-light;
}

.introduction {
	display: block;
	width: auto;
	position:relative;
	margin: 30% 25vh;

	@include mq(all-mobile) {
		width:85%;
		margin: 50% auto;
		padding: 0 30px;
	}

	h1 {
		color:$color-font-title-dark;
		margin-bottom: 20px;
	}

	p {
		color:$color-font-copy-dark;
		font-size:2.4rem;
		line-height: 4.0rem;
		display: block;
		position: relative;

		@include mq(all-mobile) {
			line-height: 4.5rem;
		}

		span.skills-slide {
			font-size: $font-size-24;
			line-height: 4.0rem;
			font-weight: 600;
			display: inline;
			position: relative;
			opacity: 0%;
			top: -20px;
			// animation: let-it-drop infinite 2.5s;
			@include css-animate(let-it-drop,3.5s,infinite);

			&:before {
				content: '';
				// animation: animate-text infinite 10s;
				@include css-animate(animate-text,14s,infinite);
			}
		}
	}

	.pt-trigger
	{
		@include btn-styling(btn-home);
	}
}

