// Styles for Home Page

.pt-page-1 {
    background-color: $color-background-light;
}

.introduction {
	display: block;
	width: 100%;
	margin-top: 280px;
	padding-left: 50px;
	padding-right: 50px;

  @include mq(not-desktop) {
    margin-top:210px;
  }

  @include mq(all-mobile) {
    margin-top: 180px;
  }

	h1 {
		color:$color-font-title-dark;
		margin-bottom: 20px;
	}

	p {
		color:$color-font-copy-dark;
		font-size:2.4rem;
		line-height: 4.0rem;
		display: block;
		position: relative;

    @include mq(all-mobile) {
      max-width: 300px;
    }
	}

	ul {
		font-size: $font-size-24;
		line-height: 4.0rem;
		display: inline-block;
		position: absolute;
		top: 412px;
		left: 99px;
		width: 200px;
		height: 42px;
		overflow: hidden;

    @include mq(not-desktop) {
      top:342px;
    }
    @include mq(all-mobile) {
      top:352px;
    }

		li
		{
			font-weight: 600;
			display: block;
		}
		.comp_ui
		{
			color: $color-userinterface;
		}
		.comp_brand
		{
			color: $color-branding;
		}
		.comp_illu
		{
			color: $color-illustration;
		}
	}

	.pt-trigger
	{
		@include btn-styling(btn-home);
	}
}

