// Styles for Home Page

.pt-page-1 {
    background-color: $color-background-light;
}

.introduction {
	display: block;
	width: auto;
	position:relative;
	margin: 30% 25vh;

	@include mq(all-mobile) {
		width:85%;
		margin: 20vh auto;
		padding: 0 30px;
	}

	h1 {
		color:$color-font-title-dark;
		margin-bottom: 20px;
	}

	p {
		color:$color-font-copy-dark;
		font-size:2.4rem;
		line-height: 4.0rem;
		display: block;
		position: relative;

		span.skills-slide {
			font-size: $font-size-24;
			line-height: 4.0rem;
			font-weight: 600;
			display: inline;
			position: relative;
			animation: animate-text infinite 8s;

			&:before {
				content: '';
				animation: animate-text infinite 8s;
			}
			@keyframes animate-text {
				0% {
					content: 'Product Design';
					color: $color-userinterface;
				}
				33% {
					content: 'Front-End Development';
					color: $color-branding;
				}
				66% {
					content: 'Illustrations';
					color: $color-illustration;
				}
				100% {
					content: 'Product Design';
					color: $color-userinterface;
				}
			}
		}
	}

	.pt-trigger
	{
		@include btn-styling(btn-home);
	}
}

